

.friendbox-item{
  text-align: left;
  margin-left: 24px;
}


.friendbox-item .avatar{
  display: inline-block;
}

.friendbox-item-displayname{
  position: absolute;
  padding: 35px 20px;
  display: inline-block;
  color: brown;
}


