.App {
  background-color: #ddffdd;
  width: 400px;
  height: 100%;;
  margin: auto;
  display: flex;
  flex-direction: column;
}



.userlist {
  flex: 1;
  background-color: #ffaa8e;
}

.chat {
  flex: 12;
  background-color: rgb(211, 211, 211);
}

.inputbox {
  flex: 1;
  background-color: rgb(255, 96, 96);
}