.App {
  background-color: #ffffff;
  width: 720px;
  height: 100%;;
  margin: auto;
}

.userlist {
  background-color: #0077ff;
  width: 720px;
  height: 10%;;
  margin: auto;
}

.chat {
  background-color: #d0e6ff;
  width: 720px;
  height: 80%;;
  margin: auto;
}

.inputbox {
  background-color: #647a92;
  width: 720px;
  height: 10%;;
  margin: auto;
}